.buttons {
    margin-left: 32px;
    width: 350px;
    height: 30px;
    margin-right: 47px;
}

.informations{
    text-align: center;
}
.all{
    margin-left: 540px ;
    margin-top: -17px;
}
#first-step{

}
.pereizdy{
    font-size: 30px;
}
.bus{
    width: 100px;
    height: 75px;
    margin-bottom:-22px;
    margin-left: 10px;
}



.clocks{
    width: 63px;
    height: 63px;
    margin-bottom: -13px;
}
.time{
    margin-bottom: 20px;
    margin-top: -42px;
    margin-left: 95px;
    font-size: 35px;
    text-decoration: underline;
}

.first-step{
   border: 5px solid black;
   border-radius: 20px;
   border-width: 1px;
   width: 1100px;
   height: 300px;
}

.pereizdy{
    margin-top: 11px;
    margin-left: 13px;
}

.destination{
    margin-top:-30px ;
    font-size: 35px;
    margin-left: 3px;
    text-transform:uppercase;
}